{{>partials/header}}

        {{#showWelcome}}
            <p>Olá {{user.name}} {{user.lastname}} você tem {{user.age}} anos</p>
        {{/showWelcome}}

        <hr/>
        {{! Exibição condicional }}
        {{#showOld}}
            <P>Você é velho</p>
        {{/showOld}}


        <hr/>

        {{! Exibição Lista }}
        <h1>Produtos</h1>
        <ul>
            {{#products}}
                {{>partials/productItem}}
            {{/products }}
        </ul>

        <hr/>

        {{! Exibição Lista a partir de um valor }}
        <h1>Produtos a partir de R$ 12</h1>
        <ul>
            {{#expensives}}
                {{>partials/productItem}}
            {{/expensives }}
        </ul>

        <hr/>

        {{! Lista comum }}
        <ul>
            {{#lista}}
                <li>{{ . }}</li>
            {{/lista }}
            {{! Quando não tiver nada na lista = else }}
            {{^lista}}
                Não tem nada na lista
            {{/lista}}
        </ul>

{{>partials/footer}}