{{>partials/header}}

<h2>Qual ano você nasceu ?</h2>

<form method="POST">
    <input type="number" name="ano" placeholder="Digite o ano de nascimento" />
    <input type="submit" value="Enviar" />
</form>

{{#mostraridade}}
    <hr/>
    Você tem {{idade}} anos
{{/mostraridade}}

{{>partials/footer}}