<html>
    <head>
        <title>Página Home</title>
    </head>
    <body>
        <h1>Titulo</h1>
        <hr/>
        {{#showWelcome}}
            <p>Olá {{user.name}} {{user.lastname}} você tem {{user.age}} anos</p>
        {{/showWelcome}}

        {{! Exibição condicional }}
        {{#showOld}}
            <P>Você é velho</p>
        {{/showOld}}

        {{! Exibição Lista }}
        <h1>Produtos</h1>
        <ul>
            {{#products}}
                <li>{{ title }} - R$ {{ price }}</li>
            {{/products }}
        </ul>

        {{! Lista comum }}
        <ul>
            {{#lista}}
                <li>{{ . }}</li>
            {{/lista }}
        </ul>
    </body>
</html>