<html>
    <head>
        <title>Página Home</title>
    </head>
    <body>
        <h1>Titulo</h1>
        <hr/>
        {{#showWelcome}}
            <p>Olá {{user.name}} {{user.lastname}} você tem {{user.age}} anos</p>
        {{/showWelcome}}

        {{#showOld}}
            <P>Você é velho</p>
        {{/showOld}}
    </body>
</html>