<html>
    <head>
        <title>Página Home</title>
    </head>
    <body>
        <h1>Titulo</h1>
        <hr/>
        <p>Olá {{user.name}} {{user.lastname}} você tem {{user.age}} anos</p>
    </body>
</html>